
.skin-switch.dropdown:not([data-animation]) {
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 100;

    .btn {
        background: $m-red;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        font-size: 25px;
        z-index: 2;

        &.ss-icon {
            color: $m-white;
        }
    }

    .dropdown-menu:not(.pull-right):not(.dropdown-menu-right) {
        min-width: 130px;
        height: 130px;
        width: 130px;
        top: -35px;
        left: -35px;
        border-radius: 50%;
        z-index: 1;

        transition: opacity, transform;

        @include transform-origin(center);
        @include scale-rotate(0, -360deg);
        @include transition-duration(500ms);

        .ss-skin {
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            cursor: pointer;

            &:hover {
                @include opacity(0.8);
            }

            &:nth-child(1) {
                margin-left: -8px;
                top: 12px;
                left: 50%;
            }
            &:nth-child(2) {
                right: 24px;
                top: 26px;
            }


            &:nth-child(3) {
                top: 50%;
                margin-top: -8px;
                right: 12px;
            }

            &:nth-child(4) {
                right: 24px;
                bottom: 26px;
            }

            &:nth-child(5) {
                margin-left: -8px;
                bottom: 12px;
                left: 50%;
            }

            &:nth-child(6) {
                left: 24px;
                bottom: 26px;
            }

            &:nth-child(7) {
                top: 50%;
                margin-top: -8px;
                left: 12px;
            }

            &:nth-child(8) {
                left: 24px;
                top: 26px;
            }
        }
    }

    &.open {
        .dropdown-menu:not(.pull-right):not(.dropdown-menu-right) {
            @include scale-rotate(1, 0deg);
        }
    }
}


@mixin current-skin($color)
{
    background-color: $color;

    //.ss-icon { color: $color; }

    .ha-menu {
        @media (max-width: $screen-xs-max) {
            background: $color;
        }
    }
}

[data-current-skin="lightblue"] { @include current-skin($m-lightblue); }
[data-current-skin="bluegray"] { @include current-skin($m-bluegray); }
[data-current-skin="blue"] { @include current-skin($m-blue); }
[data-current-skin="purple"] { @include current-skin($m-purple); }
[data-current-skin="orange"] { @include current-skin($m-orange); }
[data-current-skin="cyan"] { @include current-skin($m-cyan); }
[data-current-skin="green"] { @include current-skin($m-green); }
[data-current-skin="teal"] { @include current-skin($m-teal); }
[data-current-skin="pink"] { @include current-skin($m-pink); }