<md-dialog aria-label="Mango (Fruit)">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{ctrl.item.name || ctrl.item.clientId}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.close()">
          <md-icon class="material-icons">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <md-tabs md-border-bottom>
        <md-tab label="Record details">
          <md-content class="md-padding" layout="column">

            <md-input-container>
              <label>Name</label>
              <input ng-model="ctrl.item.name" tabindex="0" autofocus>
            </md-input-container>
            <md-input-container>
              <label>Description</label>
              <input ng-model="ctrl.item.description" tabindex="1">
            </md-input-container>

          </md-content>
        </md-tab>
      </md-tabs>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="ctrl.save()" tabindex="2">
        Accept
      </md-button>
      <md-button ng-click="ctrl.close()" tabindex="3">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>