<md-card>

    <md-data-table-toolbar class="" ng-hide="ctrl.selected.length || ctrl.filter.show">
        <h2 class="md-title">Nutrition</h2>

        <div flex></div>

        <button class="md-icon-button md-button" ng-click="ctrl.filter.show = true" tabindex="0">
            <md-icon class="material-icons">search</md-icon>
        </button>
        <button class="md-icon-button md-button" ng-click="ctrl.edit()" tabindex="0">
            <md-icon class="material-icons">add_circle_outline</md-icon>
        </button>
    </md-data-table-toolbar>

    <md-data-table-toolbar ng-show="ctrl.filter.show && !ctrl.selected.length">
        <md-icon class="material-icons">search</md-icon>

        <form class="ng-pristine ng-valid" flex name="filter.form">
            <input aria-invalid="false"  ng-model-options="ctrl.filter.options" ng-model="ctrl.query.filter" placeholder="search" tabindex="0"
            type="text">
        </form>
        <button class="md-icon-button md-button " ng-click="ctrl.filter.show = false" tabindex="0">
            <md-icon class="material-icons">close</md-icon>
        </button>
    </md-data-table-toolbar>

    <md-data-table-toolbar class="alternate" layout-align="space-between" ng-show="ctrl.selected.length">
        <div>{{ctrl.selected.length}} item selected</div>
        <button class="md-icon-button md-button" ng-click="ctrl.delete()" tabindex="0">
            <md-icon class="material-icons md-dark">delete</md-icon>
        </button>
    </md-data-table-toolbar>

    <md-data-table-container>
        <table md-data-table md-progress="deferred" md-row-select="ctrl.selected">
            <thead md-order="ctrl.query.order" md-trigger="ctrl.onOrderChange">
                <tr>
                    <th name="{{column.name}}" ng-attr-order-by="{{column.orderBy}}" ng-repeat="column in ctrl.columns"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-dblclick="ctrl.edit(item)" ng-repeat="item in ctrl.data | orderBy: ctrl.query.order | limitTo: ctrl.query.limit : (ctrl.query.page - 1) * ctrl.query.limit track by item.id ">
                    <td>{{item.name}}</td>
                    <td>{{item.description}}</td>
                </tr>
            </tbody>
        </table>
    </md-data-table-container>

    <md-data-table-pagination md-limit="ctrl.query.limit" md-page="ctrl.query.page" md-total="{{ctrl.data.length}}" md-trigger="ctrl.onPageChange"></md-data-table-pagination>
</md-card>