/*
 * Variable and Mixin
 */


@import 'mixin';
@import 'variables';

/*
 * Load Main Bootstrap LESS files
 */
 

@import 'bootstrap/bootstrap';

/*
 * Load Font
 */
@import 'font';

/*
 * Vendors
 */ 
@import 'vendors';

/*
 * Load Website related LESS files
 */
@import 'modules/generics';
@import 'modules/bootstrap-overrides';
@import 'modules/base';
@import 'modules/list';
@import 'modules/header';
@import 'modules/sidebar';
@import 'modules/dropdown';
@import 'modules/listview';
@import 'modules/progress-bar';
@import 'modules/chat';
@import 'modules/tabs';
@import 'modules/card';
@import 'modules/chart';
@import 'modules/widgets';
@import 'modules/table';
@import 'modules/todo';
@import 'modules/button';
@import 'modules/form';
@import 'modules/pagination';
@import 'modules/popover';
@import 'modules/wizard';
@import 'modules/alert';
@import 'modules/media';
@import 'modules/modal';
@import 'modules/panel';
@import 'modules/tooltip';
@import 'modules/breadcrumb';
@import 'modules/messages';
@import 'modules/404';
@import 'modules/login';
@import 'modules/profile';
@import 'modules/photos';
@import 'modules/contacts';
@import 'modules/shadow';
@import 'modules/misc';
@import 'modules/ie-warning';
@import 'modules/load';
@import 'modules/footer';
@import 'modules/pricing-table';
@import 'modules/invoice';
@import 'modules/wall';
@import 'modules/skin';
@import 'modules/preloader';

@import 'modules/print';

/*
 * Vendor Overrides
 */
@import 'vendor-overrides/mediaelement';
@import 'vendor-overrides/fullcalendar';
@import 'vendor-overrides/chosen';
@import 'vendor-overrides/noUiSlider';
@import 'vendor-overrides/farbtastic';
@import 'vendor-overrides/summernote';
@import 'vendor-overrides/bootstrap-datetimepicker';
@import 'vendor-overrides/fileinput';
@import 'vendor-overrides/light-gallery';
@import 'vendor-overrides/waves';
@import 'vendor-overrides/ui-bootstrap';
@import 'vendor-overrides/ng-table';
@import 'vendor-overrides/sweetalert';
@import 'vendor-overrides/malihu-custom-scrollbar';
