/*
 * Font Icon Family
 */
$icon-font-name:            'Material-Design-Iconic-Font';
$icon-font-path:            '../fonts/';
$load-local-fonts:          true;
$font-light:                300;
$font-normal:              400;
$font-medium:               500;
$font-bold:                 700;

/*
 * Material Colors
 */
$m-white:                  #fff;
$m-black:                  #000000;
$m-blue:                   #2196F3;
$m-red:                    #F44336;
$m-purple:                 #9C27B0;
$m-deeppurple:             #673AB7;
$m-lightblue:              #03A9F4;
$m-cyan:                   #00BCD4;
$m-teal:                   #009688;
$m-green:                  #4CAF50;
$m-lightgreen:             #8BC34A;
$m-lime:                   #CDDC39;
$m-yellow:                 #FFEB3B;
$m-amber:                  #FFC107;
$m-orange:                 #FF9800;
$m-deeporange:             #FF5722;
$m-gray:                   #9E9E9E;
$m-bluegray:               #607D8B;
$m-indigo:                 #3F51B5;
$m-pink:                   #E91E63;
$m-brown:                  #795548;


/* Bootstrap Branding */
$brand-primary:             $m-blue;
$brand-success:             $m-green;
$brand-info:                $m-cyan;
$brand-warning:             $m-orange;
$brand-danger:              $m-red;


/*
 * Colors
 */
$gray-lightest:            #f5f5f5;
$gray-lighter:             #e2e2e2;
$gray-light:               #c8c8c8;
$gray:                     #a2a2a2;
$gray-dark:                #7e7e7e;
$gray-darker:              #5e5e5e;
$gray-darkest:             #444;

/*
 * Grid System
 */
$container-tablet:                      100%;
$container-desktop:                     100%;


/* Typography + Scaffolding + Links */
$body-bg:                   $gray-lightest;
$text-color:                $gray-dark;
$font-family-sans-serif:    roboto;
$font-size-base:            13px;
$link-hover-decoration:     none;
$headings-color:			$m-black;

/* Border Radius */
$border-radius-base:        2px;
$border-radius-large:       4px;
$border-radius-small:       2px;

/* Tabs */
$nav-tabs-border-color:                     $m-white;
$nav-tabs-active-link-hover-border-color:   $m-white;
$nav-tabs-active-link-hover-bg:             transparent;

/* Form */
$input-border:              $gray-lightest;
$input-color:               $m-black;
$input-border-radius:       0;
$input-border-radius-large: 0px;
$input-height-large:        40px;
$input-height-base:         35px;
$input-height-small:        30px;
$input-border-focus:        $gray-light;

/* Table */
$table-bg:                      $m-white;
$table-border-color:            $gray-light;
$table-cell-padding:            10px;
$table-condensed-cell-padding:  7px;
$table-bg-accent:               $gray-lightest;
$table-bg-active:               $gray-light;

/*
 * Input Group
 */
$input-group-addon-bg: transparent;
$input-group-addon-border-color: transparent;

/*
 * Pagination
 */
$pagination-bg:                 $gray-lightest;
$pagination-border:             $m-white;
$pagination-color:              $gray;
$pagination-active-bg:          $m-cyan;
$pagination-active-border:      $pagination-border;
$pagination-disabled-bg:        $gray-lightest;
$pagination-disabled-border:    $pagination-border;
$pagination-hover-color:        $gray-darkest;
$pagination-hover-bg:           $gray-lighter;
$pagination-hover-border:       $pagination-border;
$pager-border-radius:           5px;

/*
 * Popover
 */
$popover-fallback-border-color: transparent;
$popover-border-color:          transparent;

/*
 * Dropdown
 */
$dropdown-fallback-border:      transparent;
$dropdown-border:               transparent;
$dropdown-divider-bg:           '';
$dropdown-link-hover-bg:        rgba(0,0,0,0.075);
$dropdown-link-color:           $gray-darkest;
$dropdown-link-hover-color:     $gray-darkest;
$dropdown-link-disabled-color:  $gray-lighter;
$dropdown-divider-bg:           rgba(0,0,0,0.08);
$dropdown-link-active-color:    $gray-darkest;
$dropdown-link-active-bg:       rgba(0, 0, 0, 0.075);
$zindex-dropdown:               9;
$dropdown-shadow:               0 2px 10px rgba(0, 0, 0, 0.2);

/*
 * Thumbnail
 */
$thumbnail-bg:                  $m-white;

/*
 * Alerts
 */
$alert-success-border:                  transparent;
$alert-info-border:                     transparent;
$alert-warning-border:		 	        transparent;
$alert-danger-border:		 	        transparent;
$alert-inverse-border:		 	        transparent;

$alert-success-bg:                      rgba($m-green, 0.7);
$alert-info-bg:		 		            rgba($m-blue, 0.7);
$alert-warning-bg:                      rgba($m-amber, 0.7);
$alert-danger-bg:                       rgba($m-red, 0.7);
$alert-inverse-bg:                      $gray-darkest;

$alert-success-text:                    $m-white;
$alert-info-text:                       $m-white;
$alert-warning-text:                    $m-white;
$alert-danger-text:                     $m-white;
$alert-inverse-text:                    $m-white;

/*
 * Form Validations
 */
$state-success-text:                    lighten($m-green, 8%);
$state-warning-text:                    lighten($m-orange, 8%);
$state-danger-text:                     lighten($m-red, 8%);

$state-success-bg:                      lighten($m-green, 8%);
$state-warning-bg:                      lighten($m-orange, 8%);
$state-danger-bg:                       lighten($m-red, 8%);



/*
 * Buttons
 */
$border-radius-base:            2px;
$border-radius-large:           2px;
$border-radius-small:           2px;
$btn-font-weight:				400;

/*
 * Thumbnail
 */
$thumbnail-border:				#EDEDED;
$thumbnail-padding:				3px;

/*
 * Carousel
 */
$carousel-caption-color:        $m-white;

/*
 * Modal
 */
$modal-content-fallback-border-color:	transparent;
$modal-content-border-color:			transparent;
$modal-backdrop-bg:						$m-black;
$modal-header-border-color:				transparent;
$modal-title-line-height:				transparent;
$modal-footer-border-color:				transparent;
$zindex-modal-background: 				11;

/*
 * Tooltips
 */
$tooltip-bg:                $gray-dark;
$tooltip-opacity:           1;

/*
 * Popover
 */
$zindex-popover:                9;
$popover-title-bg:              $m-white;
$popover-border-color:          $m-white;
$popover-fallback-border-color: $m-white;

/*
 * Breadcrumbs
 */
$breadcrumb-bg:            transparent;
$breadcrumb-padding-horizontal: 20px;
$breadcrumb-active-color:       $gray-dark;

/*
 * Jumbotron
 */
$jumbotron-bg:              $gray-lightest;

/*
 * List Groups
 */
$list-group-border:                 $gray-lightest;
$list-group-active-color:           $m-black;
$list-group-active-bg:              $gray-lighter;
$list-group-active-border:          $gray-lightest;
$list-group-disabled-color:         $gray;
$list-group-disabled-bg:            $m-white;
$list-group-disabled-text-color:    $gray-lighter;

/*
 * Badges
 */
$badge-color:               $m-white;
$badge-bg:                  $brand-primary;
$badge-border-radius:       2px;
$badge-font-weight:         400;
$badge-active-color:        $m-white;
$badge-active-bg:           $brand-primary;

/*
 * Blocks
 */
$sidebar-left-width: 268px;
$sidebar-right-width: 280px;
$footer-height: 110px;
$header-height: 70px;

$margin-default: 20px;
$margin-small: 10px;
$margin-large: 30px;

/*
 * Misc
 */
$card-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
