@import '../../styles/core.scss';

$header-height: 100px;

@mixin bg-image($image: 'http://lorempixel.com/600/300', $opacity: 0.5, $size: cover) {
	&:before {
        background-image: url($image);
		position: absolute;
		z-index: 0;
		background-size: $size;
		content: '';
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background-position: 50% 50%;
        opacity: 0.5;
	}
}

.dynamic-card .card {

    overflow: hidden;
    height: 412px;

    button.btn-float {
        right: 20px;
        bottom: 20px;
        transition: all 500ms cubic-bezier(.3, 0, 0, 1.3);
    }

    .zmdi-close {
        display: none;
    }

    .badge {
        text-transform: uppercase;
        transition: 0.5s all;
        opacity: 1;
        position: relative;
    }

    .card-header {

        @include bg-image;

        bottom: 0;
        height: 100%;
        transition: height 280ms cubic-bezier(.3, 0, 0, 1.3);
        margin-bottom:0;

        h2 {
            position: absolute;
            bottom: 20px;
            left: 20px;
        }

        small {
            padding: 0 10px;
            text-transform: uppercase;
            background-color: transparentize($color: $gray-darkest, $amount: 0.5);
            color: $m-white;
        }
    }

    .card-body {
        opacity: 1;
        height: calc(100% - $header-height);
        transition: all 0.5s;
        overflow: scroll;
    }

    &.expanded {

        .card-header {
             height: $header-height;
        }
        .card-body {
            opacity: 1;
        }
        .badge {
            transform: translateY(-100px);
            opacity: 0;
        }
        .btn-float {
            bottom: -25px;
        }
    }

}

.exploading-card .card {

    overflow: hidden;
    position: relative;
    height: 200px;
    transition: height .3s cubic-bezier(.3, 0, 0, 1.3);

    .badge {
        text-transform: uppercase;
        transition: 0.5s all;
        opacity: 1;
        position: relative;
        margin-bottom: 10px;
    }

    h2 {
        position: absolute;
    }

    small {
        padding: 0 10px;
        text-transform: uppercase;
        background-color: transparentize($color: $gray-darkest, $amount: 0.5);
        color: $m-white;
    }


    .card-header {
        @include bg-image('http://lorempixel.com/600/300', 1, auto);
        height: 100%;
    }

    .card-body {
        color: white;
        opacity: 0;
        height: 0;
        position: absolute;
        top: 60px;
        left:0;
        transition: all 0.35s ease-out;
    }

    .btn-float {
        right: 20px;
        top: 20px;
        transition: all 300ms ease-out;
        overflow: visible;

         &:before {
            content: "";
            position: absolute;
            background: $m-blue;
            z-index: -1;
            top:0;
            right:0;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            transform: scale(1);
            transition: transform 0.35s ease-out;
        }

    }

    &.expanded {
        height: 400px;

        .card-body {
            color: white;
            background: transparent;
            opacity: 1;
            height: 100%;
            display: initial;
            z-index: 1;
        }

        .btn-float {
            &:before{
                transform: scale(20);

                @media (max-width: 765px) {
                    transform: scale(35);
                }
            }

            .zmdi.zmdi-more:before{
                content: '\f136';
                animation: rotation 500ms;
            }
        }
    }
}

@keyframes rotation {
    from {
        opacity: 0;
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
        opacity: 1;
    }
}

@mixin animated-card-transition() {
    transition: all .3s cubic-bezier(.3, 0, 0, 1.3);
}

.animated-card {
    background-color: #fff;
    bottom: 0;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
    height: 200px;
    left: 0;
    margin-bottom: 30px;
    overflow: hidden;

    @include animated-card-transition;

    &:hover {
        height: 400px;

        .circle {
            background-size: cover;
            border-radius: 0;
            transform: translate(-16%, -37%);
        }

        h2 {
            background: #3487f7;
            color: #fff;
            margin-top: 100px;
            padding: 5px;
        }

        p {
            opacity: 1;
            margin-top: 300px;
         }
    }

   h2 {
        color: #3487f7;
        font-size: 24px;
        font-weight: 200;
        margin-top: 150px;
        position: absolute;
        text-align: center;
        width: 100%;
        z-index: 9999;
        @include animated-card-transition;
    }

    p {
        color: rgba(0,0,0,.6);
        font-size: 100%;
        font-weight: normal;
        margin-top: 200px;
        position: absolute;
        text-align: center;
        z-index: 9999;
        opacity: 0;

        transition: all .3s cubic-bezier(.3, 0, 0, 1.3) 100ms;
    }

    .circle {
        background: url('http://lorempixel.com/400/200') no-repeat center bottom;
        background-color: #3487f7;
        background-size: cover;
        border-radius: 50%;
        height: 400px;
        position: absolute;
        width: 150%;
        transform: translate(-16%, -69%);

       @include animated-card-transition;
    }

}
