@import '../../styles/core.scss';

$header-height: 100px;

@mixin bg-image($image, $opacity: 0.5) {
	&:before {
        background-image: url('http://lorempixel.com/600/300');
		position: absolute;
		z-index: 0;
		background-size: cover;
		content: '';
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background-position: 50% 50%;
        opacity: 0.5;
	}
}

.dynamic-card .card {

    overflow: hidden;
    height: 412px;

    button.btn-float {
        right: 20px;
        bottom: 20px;
        transition: all 500ms ease-out;
    }

    .zmdi-close {
        display: none;
    }

    .badge {
        text-transform: uppercase;
        transition: 0.5s all;
        opacity: 1;
        position: relative;
    }

    .card-header {

        @include bg-image('fox.jpg');

        bottom: 0;
        height: 100%;
        transition: height 280ms ease-out;
        margin-bottom:0;

        h2 {
            position: absolute;
            bottom: 20px;
            left: 20px;
        }

        small {
            padding: 0 10px;
            text-transform: uppercase;
            background-color: transparentize($color: $gray-dark, $amount: 0.8);
            color: $m-white;
        }
    }

    .card-body {
        opacity: 1;
        height: calc(100% - $header-height);
        transition: all 0.5s;
        overflow: scroll;
    }

    &.expanded {

        .card-header {
             height: $header-height;
        }
        .card-body {
            opacity: 1;
        }
        .badge {
            transform: translateY(-100px);
            opacity: 0;
        }
        .btn-float {
            bottom: -25px;
        }
    }

}

.exploading-card .card {

    overflow: hidden;

    .card-header {
        @include bg-image('fox.jpg');
    }

    button.btn-float {
        right: 20px;
        top: 20px;
        transition: all 300ms ease-out;

            i.zmdi-close {
                position: absolute;
                color: white;
                opacity: 0;
                transition: transform 500ms;
            }
    }

    .zmdi-close {
        transform: scale(0) rotate(-360deg);
    }

    &.expanded {
        .btn-float {
            z-index: 0;
            transform: scale(20);

            .zmdi-more {
                opacity: 0;
            }
            .zmdi-close {
                opacity: 1;
                top: 13px;
                right: 18px;
                transform: scale(0.05) rotate(0);
                &:hover {
                    transform: none;
                }
            }
        }

        .card-header {
             height: $header-height;
        }
        .card-body {
            opacity: 1;
            color: white;
            height: 100%;
            z-index: 10;
        }
    }
}

@mixin animated-card-transition() {
    transition: all .3s cubic-bezier(.3, 0, 0, 1.3);
}

.animated-card {
    background-color: #fff;
    bottom: 0;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
    height: 200px;
    left: 0;
    margin-bottom: 30px;
    overflow: hidden;

    @include animated-card-transition;

    &:hover {
        height: 400px;

        .circle {
            background-size: cover;
            border-radius: 0;
            transform: translate(-16%, -37%);
        }

        h2 {
            background: #3487f7;
            color: #fff;
            margin-top: 100px;
            padding: 5px;
        }

        p {
            opacity: 1;
            margin-top: 300px;
         }
    }

   h2 {
        color: #3487f7;
        font-size: 24px;
        font-weight: 200;
        margin-top: 150px;
        position: absolute;
        text-align: center;
        width: 100%;
        z-index: 9999;
        @include animated-card-transition;
    }

    p {
        color: rgba(0,0,0,.6);
        font-size: 100%;
        font-weight: normal;
        margin-top: 200px;
        position: absolute;
        text-align: center;
        z-index: 9999;
        opacity: 0;

        transition: all .3s cubic-bezier(.3, 0, 0, 1.3) 100ms;
    }

    .circle {
        background: url('http://lorempixel.com/400/200') no-repeat center bottom;
        background-color: #3487f7;
        background-size: cover;
        border-radius: 50%;
        height: 400px;
        position: absolute;
        width: 150%;
        transform: translate(-16%, -69%);

       @include animated-card-transition;
    }

}
