<div class="card" ng-class="{expanded: ctrl.isExpanded}">
    <div class="card-header ch-alt">
        <span class="badge">Project 1</span>
        <h2>Dynamic card <small>ipsum id auctor</small></h2>
        <button class="btn bgm-blue btn-float no-waves" ng-click="ctrl.toggle()"><i class="zmdi zmdi-more"></i></i></button>
    </div>

    <div class="card-body card-padding">
        Cras leo sem, egestas a accumsan eget, euismod at nunc. Praesent vel mi blandit, tempus ex gravida, accumsan dui. Sed sed
        aliquam augue. Nullam vel suscipit purus, eu facilisis ante. Mauris nec commodo felis.
    </div>
</div>