<li class="parent-list-item" ng-repeat="section in sections">
    <h2 class="menu-heading md-subhead" ng-if="section.type === 'heading'">
        {{section.name}}
    </h2>

    <menu-link ng-if="section.type === 'link'" section="section"></menu-link>

    <menu-toggle ng-if="section.type === 'toggle'" section="section"></menu-toggle>

    <ul class="menu-nested-list" ng-if="section.children">
        <li ng-repeat="child in section.children">
            <menu-link ng-if="child.type === 'link'" section="child"></menu-link>
            <menu-toggle ng-if="child.type === 'toggle'" section="child"></menu-toggle>
        </li>
    </ul>
</li>
