<md-toolbar class="md-toolbar-tools">
    <md-button aria-label="Menu" class="md-icon-button" ng-click="ctrl.toggleLeftSidebar()" ng-disabled="ctrl.toggleDisabled">
        <md-icon md-font-icon="material-icons">menu</md-icon>
    </md-button>

    <h2>
        <span>Administration Demo</span>
    </h2>
    <span flex></span>

    <notification-list></notification-list>

    <md-menu md-offset="0 30" md-position-mode="target-right target" style="margin-right: 100px;">
        <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
            <md-icon md-font-icon="material-icons" md-menu-origin>more_vert</md-icon>
        </md-button>
        <md-menu-content width="4">
            <md-menu-item>
                <md-button ng-click="ctrl.redial($event)">
                    <md-icon md-font-icon="material-icons" md-menu-align-target>dialpad</md-icon>
                    Redial
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button disabled="disabled" ng-click="ctrl.checkVoicemail()">
                    <md-icon md-font-icon="material-icons">voicemail</md-icon>
                    Check voicemail
                </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
                <md-button ng-click="ctrl.toggleNotifications()">
                    <md-icon md-font-icon="material-icons">{{ctrl.notificationsEnabled ? 'location_on' : 'location_off' }}</md-icon>
                    {{ctrl.notificationsEnabled ? 'Disable' : 'Enable' }}
                    notifications
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
    
    <speed-dial></speed-dial>
</md-toolbar>
