// main: index.scss
/**
*     Button
**/
.md-button.md-fab {
    z-index: 1;
}

.md-fab-action-item .md-button.md-fab md-icon {
    color: black;
}

.md-button {
    min-height: 36px;
  
    &:not(.md-icon-button){
        padding: 0 12px;
    }

    &.md-icon-button:not([disabled]) {
        @include hover-pop(rgba(255,255,255,0.1), 90%, 250ms, 0);
    } 

    md-icon { 
        transition-duration: 350ms;
        backface-visibility: hidden;

        &:hover {
            transform: rotate(360deg);
        }
    }
}

.md-actions,
md-data-table-toolbar {
    .md-button.md-icon-button {
        width      : 36px;
        height     : 36px;
        line-height: 24px;
        margin     : 0;

        &:not([disabled]) {
            @include hover-pop(rgba(0,0,0,0.084), 50%, 250ms, 0);
        }

        md-icon,
        i {
            color    : $gray;
            font-size: 20px;

            &:hover {
                color: $gray;
            }
        }
    }
}
