@import '../../src/styles/index.scss';

#content {
    width: 100%;
    position: absolute;
    top: $header-height;
    padding-bottom: $footer-height;
    padding-top: $margin-default;
    bottom: 0;
    left:0;
}

app {
    display: block;
    height: 100%;
    width: 100%;
}
