// main: app.scss

/**
*    Menu
*/
.md-open-menu-container {
    transform       : scale(0);
    transform-origin: right top;

    &.md-active {
        transform: scale(1);
        > md-menu-content > * {
            transition: none;
        }
    }

    &.md-leave {
        transform: scale(0);
    }
}


.md-menu {
    padding: 0 !important;
}
