// main: index.scss

md-data-table-toolbar {
    background-color: $gray-lightest;
}

md-data-table-toolbar > form {
  margin-left: 16px;
}
md-data-table-toolbar > form > input {
  width: 96%;
  line-height: 2em;
  margin: 0;
  border: none;
  color: rgba(0, 0, 0, 0.87);
}
md-data-table-toolbar > form > input:focus {
  outline: none;
}
