// main: app.scss

/**
*     Toolbar
*/
md-content { 
    md-toolbar {
        z-index         : 1;
        padding         : 5px 15px;
        background-color: white;
        @include md-shadow-bottom();
    }
}

md-toolbar {
    @include md-shadow-bottom();
}
