<span class="label" ng-show="showPageSelect() ">{{$label['page']}}</span>

<div class="chosen ">
    <select chosen ng-model="config.page " ng-options="s for s in range(pages()) " disable-search="true ">
    </select>
</div>

<span class="label hidden-xs">{{$label['rowsPerPage']}}</span>

<div class="chosen hidden-xs">
    <select chosen ng-model="config.limit " ng-options="s for s in [5,10,15] " disable-search="true ">
    </select>
</div>

<span class="label">{{min() + 1}} - {{max()}} {{$label['of']}} {{total}}</span>

<button class="btn btn-link btn-icon hidden-xs" type="button " m-ripple="5,4" ng-if="showBoundaryLinks()
" ng-click="first() " ng-disabled="!hasPrevious() " aria-label="First ">
    <i class="zmdi zmdi-skip-previous "></i>
</button>
<button class="btn btn-link btn-icon hidden-xs" type="button " m-ripple="5,4" ng-click="previous() " ng-disabled="!hasPrevious() "
aria-label="Previous ">
    <i class="zmdi zmdi-chevron-left "></i>
</button>
<button class="btn btn-link btn-icon hidden-xs" type="button " m-ripple="5,4" ng-click="next() " ng-disabled="disableNext() "
aria-label="Next ">
    <i class="zmdi zmdi-chevron-right "></i>
</button>
<button class="btn btn-link hidden-xs" type="button " m-ripple="5,4" ng-if="showBoundaryLinks() " ng-click="last()
" ng-disabled="disableNext() " aria-label="Last ">
    <i class="zmdi zmdi-skip-next "></i>
</button>