<md-menu md-offset="0 30" md-position-mode="target-right target">
    <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
        <md-icon md-font-icon="material-icons" md-menu-origin>notifications</md-icon>
        <div class="badge animated" ng-show="ctrl.data.length > 0">
            {{ctrl.data.length}}
        </div>
    </md-button>
    <md-menu-content class="notifications" layout="column" width="4">
        <md-subheader class="header" ng-if="ctrl.data.length > 0">
            <md-button ng-href="" class="md-link-button">Select all</md-button>
        </md-subheader>
        <md-subheader ng-if="ctrl.data.length === 0">
            <h2 class="no-data">No data</h2>
        </md-subheader>
        <md-list ng-if="ctrl.data.length > 0">
            <md-list-item class="{{item.type}} md-3-line" ng-repeat="item in ctrl.data">

                <md-icon md-font-icon="material-icons">sms</md-icon>

                <div class="md-list-item-text">
                    <h3 class="title">{{item.user}}</h3>
                    <p class="message">{{item.text}}</p>
                    <small>{{item.date}}</small>
                </div>

                <md-button class="action-button md-icon-button">
                    <md-icon md-font-icon="material-icons">clear</md-icon>
                </md-button>

            </md-list-item>
        </md-list>
    </md-menu-content>
</md-menu>