$backdrop-index: 80;

m-backdrop.m-edit-dialog-backdrop {
  z-index: $backdrop-index;
}

m-edit-dialog {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: $backdrop-index + 1;
  background-color: $m-white;
  border-radius: 2px;
  cursor: default;

  > .m-content {
    padding: 16px 24px 0;

    .m-title {
      color: $gray-dark;
      margin-bottom: 8px;
    }

    m-input-container {
      margin: 0;
      font-size: 13px;

      input {
        float: none;
      }

      .m-errors-spacer {
        min-height: auto;
        min-width: auto;
        color: $gray-dark;

        .m-char-counter {
          padding: 5px 2px 5px 0;
        }
      }

      [ng-message] {
        padding: 5px 0 5px 2px;
      }
    }
  }

  > .m-actions {
    margin: 0 16px 8px;

    .m-button {
      margin: 0;
      min-width: initial;

      & + .m-button {
        margin-left: 8px;
      }
    }
  }
}