@import "../../../styles/core";

@import 'm-table-pagination';
@import 'm-table-select';

table.m-table {
  width: 100%;
  border-spacing: 0;
  overflow: hidden;

  thead.m-head > tr.m-row {
    height: 56px;
  }

  tbody.m-body > tr.m-row,
  tfoot.m-foot > tr.m-row {
    height: 48px;
  }

  thead.m-head + .m-table-progress m-progress-linear {
    top: -3px;
  }

  .m-table-progress th {
    padding: 0;

    m-progress-linear {
      height: 0;
      transition: opacity 1s;

      &.ng-hide {
        opacity: 0;
      }

      > .m-container {
        height: 3px;
        top: 0;
        transition: none;

        > .m-bar {
          height: 3px;
        }
      }
    }
  }

  th.m-column {
    color: $gray-dark;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;

    &.m-sort {
      cursor: pointer;
    }

    i {
      height: 16px;
      padding: 0 5px;
      font-size: 16px !important;
      line-height: 16px !important;

      &.m-sort-icon {
        color: $gray-dark;
        opacity: 0;
        transition: transform 0.25s, opacity 0.25s;

        &.m-asc {
          transform: rotate(0deg);
        }

        &.m-desc {
          transform: rotate(180deg);
        }
      }

      &:not(:first-child):not(.input-helper) {
        margin-left: 8px;
      }

      &:not(:last-child) {
        margin-right: 8px;
      }
    }

    &.m-active,
    &.m-active i {
      color: $gray-darkest;
    }

    &:hover i.m-sort-icon,
    &.m-active i.m-sort-icon {
      opacity: 1;
    }
  }

  tr.m-row {
    &[ng\:repeat].ng-leave,
    &[ng-repeat].ng-leave,
    &[x-ng-repeat].ng-leave,
    &[data-ng-repeat].ng-leave {
      display: none;
    }
  }

  &.m-row-select tbody.m-body > tr.m-row {
    transition: background-color 0.2s;

    &:not([disabled]):hover {
      background-color: $gray-lighter !important;
    }

    &.m-selected {
      background-color: $gray-lightest;
    }
  }

  &.m-row-select td.m-cell,
  &.m-row-select th.m-column {
    &:first-child {
      padding: 0 0 0 13px;
    }

    &:nth-child(2) {
      padding: 0 13px;
    }

    &:nth-child(n+3):nth-last-child(n+2) {
      padding: 0 56px 0 0;
    }
  }

  &:not(.m-row-select) td.m-cell,
  &:not(.m-row-select) th.m-column {
    &:first-child {
      padding: 0 13px;
    }

    &:nth-child(n+2):nth-last-child(n+2) {
      padding: 0 56px 0 0;
    }
  }

  td.m-cell,
  th.m-column {
    vertical-align: middle;
    text-align: left;

    > * {
      vertical-align: middle;
    }

    &:last-child {
      padding: 0 13px 0 0;
    }

    &.m-clickable {
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }

    &.m-numeric {
      text-align: right;
    }

    m-checkbox {
      margin: 0;
      width: 18px;
    }
  }

  td.m-cell {
    color: $gray-darker;
    font-size: 13px;
    border-top: 1px $gray-lighter solid;

    &.m-numeric m-select {
      justify-content: flex-end;

      .m-select-value {
        flex-grow: initial;
      }
    }

    &.m-placeholder {
      color: $gray-lightest;
    }

    m-select > .m-select-value > span.m-select-icon {
      justify-content: flex-end;
      color: $gray-lighter;
      width: 18px;
      text-align: right;

      &:after {
        transform: scaleY(0.4) scaleX(0.8);
      }
    }
  }
}