m-select.m-table-select {
  margin: 0;

  > .m-select-value {
    padding: 0;
    min-width: initial;
    min-height: 24px;
    border-bottom: 0 !important;

    > span {
      transform: none !important;

      &.m-select-icon {
        display: flex;
        align-items: center;
        height: 24px;
        margin: 0;
      }
    }
  }
}

.m-select-menu-container.m-table-select,
.m-select-menu-container.m-pagination-select {
  margin-top: -2px;
  margin-left: -2px;
  border-radius: 2px;

  m-select-menu,
  m-content {
    border-radius: inherit;
  }

  m-content {
    padding: 0;
  }
}

.m-select-menu-container.m-table-select .m-text {
  font-size: 13px;
}

.m-select-menu-container.m-pagination-select .m-text {
  font-size: 12px;
}